/*body, html {
	width: 100vw
	height: 100vh;
}*/

body {
	margin: 0;
	background-color: #101010;
}

.loginPage {
	/*font-family: "Comic Sans MS";*/
	/*font-family: "Segoe Script";*/
	font-family: "Segoe UI";

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.loginBox {
	display: flex;
	flex-direction: column;
	color: #CECECE;
	text-align: center;
}

.loginBox input, .loginBox span {
	margin: 0.5em;
	font-size: 2em;
	color: #CECECE;
}

.loginBox input {
	background-color: rgba(255, 255, 255, .05);
	border-radius: 18px;
	padding: 4px 8px 4px 12px;
	border: none;
}
